language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - hhvm

env:
    - SYMFONY_VERSION=2.3.*
    - SYMFONY_VERSION=2.6.*
    - SYMFONY_VERSION=2.7.*

matrix:
    allow_failures:
        - php: 7.0
        - php: hhvm

before_script:
    - composer require symfony/framework-bundle:${SYMFONY_VERSION} --no-update
    - composer update --dev --prefer-source

script: phpunit
