language: php

sudo: false

env:
    global:
        - COMPOSER_FLAGS="--prefer-dist"

matrix:
  fast_finish: true
  include:
    - php: 5.5
      env: SYMFONY_VERSION=2.8.*
    - php: 5.5
      env: SYMFONY_VERSION=3.0.*
    - php: 5.5
      env: SYMFONY_VERSION=3.1.*
    - php: 5.5
      env: SYMFONY_VERSION=3.2.*
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.1
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: hhvm-stable
      sudo: required
      dist: trusty
      group: edge
  allow_failures:
    - php: hhvm-stable

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - phpenv config-rm xdebug.ini || true
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require "symfony/symfony:${SYMFONY_VERSION}" --no-update; fi;

install: composer update --no-interaction $COMPOSER_FLAGS

script: composer test
