<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         verbose="true"
        >

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="Lexik\Bundle\JWTAuthenticationBundle\Tests\Functional\App\AppKernel" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="APP_DEBUG" value="true" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0&amp;max[direct]=27" />
    </php>

    <testsuites>
        <testsuite name="LexikJWTAuthenticationBundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true" cacheDirectory=".coverage-cache">
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory suffix=".php">./Resources</directory>
            <directory suffix=".php">./Tests</directory>
            <directory suffix=".php">./vendor</directory>
        </exclude>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
